html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #211f23;
    background-repeat: no-repeat;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(circle at top, #53455b 0%, #201e22 70%);
    background-image: -webkit-radial-gradient(circle at top, #53455b 0%, #201e22 70%);
    background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.paid {
    display: none;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 25px;
    color: #00773D;
    line-height: 30px;
}

.paid p {
    background-image: url("http://dc455.4shared.com/download/VILITso0/tsid20130720-183900-9216b81f/check.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 0px;
    width: 190px;
    margin: 0 auto;
}

.container {
    width: 350px;
    margin: 50px auto;
}

.tab {
    width: 350px;
    margin: 0 auto;
    height: 10px;
    background-color: #2B2929;
    border-radius: 50px
}

.receipt {
    background-color: #FAFAF9;
    padding-top: 20px;
    width: 300px;
    height: 300px;
    margin: -5px auto;
    border-radius: 5px 5px 50px 50px;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.paper {
    border-top: 1px dashed #ccc;
    width: 96%;
    margin: 0 auto;
}

.title {
    color: #00773D;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    float: left;
    font-size: 16px;
    line-height: 30px;
}

.date {
    color: #00773D;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: lighter;
    float: right;
    font-size: 12px;
    line-height: 30px;
}

table {
    clear: both;
    width: 95%;
    margin: 0 auto;
    color: #5B5B5B;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    padding-top: 20px;
}

input[type=submit] {
    background-color: #00874C;
    outlie: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    background-image: url("http://dc707.4shared.com/img/zr6_o80l/s3/13ffd4de138/cart.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}

input[type=submit]:hover {
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #f0f0f0;
}

input[type=button] {
    background-color: #00874C;
    outlie: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    background-image: url("http://dc707.4shared.com/img/zr6_o80l/s3/13ffd4de138/cart.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}

input[type=button]:hover {
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #f0f0f0;
}

.barcode {
    height: 10px;
    width: 0;
    box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
    display: inline-block;
    margin-right: 85px;
}

.sign {
    text-align: center;
}

.thankyou {
    line-height: 14px;
    font-size: 10px;
    margin-top: 5px;
    color: #5B5B5B;
    width: 100%;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.08);

    background: rgba(255, 255, 255, 0.04);
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.inp {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    color: #cccccc;
    font-size: 11px;
    font-family: Tahoma;
    text-align: center;
    height: 30px;
}

.inp:focus {
    color: rgb(0, 0, 0);
    border: 1px solid #000000
}
